@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "ЕК за  1";
    TempData["UserName"] = Model.name.Users.Fio;
}



<h2 class="title title__main">!!!!!!Оценки за 1 сессию 29.01.22 - 30.10.23</h2>

<div class="stat">
    <div class="form-create-journal">

        <table class="table__content">
            <thead class="table__content__thead">
                <tr class="table__content__row">
                    <td rowspan="1" class="table__content__td">#</td>
                    <td rowspan="1" class="table__content__td">ФИО</td>
                    <td rowspan="1" class="table__content__td">Оценка</td>
                </tr>
            </thead>
            <tbody class="table__content__tbody">
                @{ int i = 0;}
                @foreach (var item in Model.ListEkByDate)
                {
                    i++;
                    <tr class="table__content__row">
                        <td class="table__content__td">@i</td>
                        <td class="table__content__td">@item.Users.Users.Fio</td>
                        @if (item.ek.EKScore == 0)
                        {
                            <td class="table__content__td"></td>
                        }
                        else
                        {
                            <td class="table__content__td">@item.ek.EKScore</td>
                        }

                    </tr>

                }

            </tbody>
        </table>


    </div>
</div>
