@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Вход";
}

@if ((bool)TempData["notFoundUser"] == true)
{
    <div class="text-center" style="width:30%; margin:auto; margin-top:50px;">
        <h1 class="h3 mb-5 font-weight-normal">неправильный логин или пароль</h1>
    </div>
}

        <div class="text-center" style="width:30%; margin:auto; margin-top:150px;">
            <form method="post" asp-controller="Login" asp-action="Index" class="form-signin text-center">
                <h1 class="h3 mb-5 font-weight-normal">Авторизация</h1>
                <input type="text" name="login" class="form-control mt-2" placeholder="Логин">
                <input type="password" name="password" class="form-control mt-2" placeholder="Пароль">
                <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Войти</button>
                <p class="mt-5 mb-3 text-muted">© Всгуту</p>
            </form>
        </div>
